.bgc-gray {
  background-color: #d0dce8;
  position: relative;
}

.title-great {
  padding-bottom: 30px;
  font-family: "Open Sans";
  font-size: 36px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

.subtitle-great {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  color: #999999;
}

.text-great {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #575757;
  padding-bottom: 15px;
}

.wrapper-great {
  max-width: 560px;
  position: absolute;
  /* right: 50%; */
  top: 30%;
}

.bg-great {
  position: relative;
  background-image: url(../../Pic/Home/GreatTheme/1.png);
  background-repeat: no-repeat;
  background-position: right;
  /* background-position: left; */
  height: 780px;
}

.rectangle-great {
  position: absolute;
  bottom: -3%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
