.multiple-layouts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 100px;
}

.multiple-layouts-module {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  max-width: 370px;
}

.multiple-layouts-ico {
  width: 46px;
  height: 42px;
  margin-right: 25px;
}

.multiple-layouts-subscribe {
  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #575757;
}

.multiple-layouts-title {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  color: #333333;
}
