.what-block {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
}

.what1 {
  width: 40%;
}

.what2 {
  width: 60%;
}




.great-theme {
  position: relative;
  background-color: #d0dce8;
  background-image: url(../../Pic/Home/GreatTheme/1.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 780px;
}

.become-block {
  background-color: #82b440;
}

.great-theme2 {
  position: relative;
  background-color: #d0dce8;
  background-image: url(../../Pic/Home/GreatTheme/2.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 780px;
  background-size: 780px;
}

.great-theme2-text {
  display: flex;
  justify-content: space-around;
  min-height: 780px;
}

.why-choose-block {
  display: flex;
  flex-wrap: wrap;
}

.why1 {
  width: 60%;
}

.why2 {
  width: 40%;
  background-color: #1f252f;
}


@media (max-width: 1024px) {
  .what1 {
    width: 100%;
  }

  .what2 {
    width: 100%;
  }

  .why1 {
    width: 100%;
  }
  
  .why2 {
    width: 100%;
  }
}